.launchpads{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    height: 280px;
    margin: 20px 10px;
    box-shadow: 0px 0px 15px 0px #6b6b6b !important;
}

.launch-link{
    text-decoration: none !important;
    text-align: center;
}

.link1{
    color: rgb(169 169 169) !important;
}

.link1:hover{
    text-decoration: underline;
}